@tailwind base;
@tailwind components;
@tailwind utilities;

/* .body-customize {
    position: relative;
}

.body-customize::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(20px);
} */